/AcertePalavraDAO.class
/AcertePalavraQuestaoDAO.class
/AgrupePalavrasDAO.class
/AgrupePalavrasQuestaoDAO.class
/AlunoDAO.class
/Conexao.class
/FlashCardDAO.class
/FlashCardQuestaoDAO.class
/FormacaoSilabDAO.class
/FormacaoSilabicaQuestaoDAO.class
/LoginDAO.class
/PontuacaoDAO.class
/ProfessorDAO.class
/QuizDAO.class
/QuizQuestaoDAO.class
/teste.class
/AdministradorDAO.class
/JogosDAO.class
/UsuarioDAO.class
